@use "base/mixins" as m;
@use "base/variables" as v;

.lineup {
  /* background-color: v.$morado; */
  padding: 5rem 0;

  h3,
  p {
    text-align: center;
    color: v.$blanco;
  }

  .dia {
    text-transform: uppercase; //Para hacer mayuscula
    margin: 5rem 0;
  }
}

.escenarios-contenedor {
  @include m.tablet {
    @include m.grid(2, 5rem);
  }

  p {
    color: v.$negro;
  }
}

.escenario {
  p {
    /* Creamos un seudo-elemento para la imagen */

    padding-top: 2rem;

    &:after {
      content: ""; /* Simpre cuando creamos un seudo hay que poner un content */
      display: block;
      width: 20rem;
      height: 10rem;
      background-size: 15rem;
      background-repeat: no-repeat;
      background-position: no-repeat;
      background-position: center center;
      margin: 2rem auto 0 auto; //Centramos horizontalmente
    }
  }
}

.calendario {
  @include m.resetear-lista;
  li {
    padding: 2.5rem;
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }
}

.carozzi .nombre-escenario:after {
  background-image: url(../img/imagen-carozzi.png);
}

.VTR .nombre-escenario:after {
  background-image: url(../img/imagen-vtr.png);
}

.bg-amarillo {
  background-color: v.$amarillo;
  li:nth-child(odd) {
    /* Seleccionamos los impares */
    background-color: darken(v.$amarillo, 10%);
  }
}

.bg-verde {
  background-color: v.$verde;
  li:nth-child(odd) {
    /* Seleccionamos los impares */
    background-color: darken(v.$verde, 10%);
  }
}
