@use "base/variables" as v;
@use "base/mixins" as m;

/* .scroll_vertical {
  @include m.telefonoEspecial {
    width: 400px;
    overflow: auto;
    border: 1px solid #666;
    background-color: #ccc;
    padding: 8px;
  }
}
 */