//Tipografia
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$verde : #0fe974e4;
$azul: #0ca6f4;
$rosa: #F53756;
$amarillo: #e7e710d1;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$rojo: #f31111ea;

//Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
